body{
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
}
header{
    background-color: rgb(41, 41, 41);
    height: 50px;
}

section{
    max-width: 1200px;
    height: 500px;
    margin: auto;
}

.upper-section{
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.upper-section img{
    width: 100%;
    float: right;
}