body{
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
header{
    background-color: tomato;
    height: 50px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

header h2{
    max-width: 1500px;
    color: white;
    margin: 0 auto;
    padding: 10px 0;
}

h1{
    font-size: 35px;
    margin: 18px 0 -9px;
    color: tomato;
}

h2{
    font-size: 30px;
}

p{
    color: dimgray;
    font-size: 20px;
}
section{
    height: 500px;
    margin: auto;
    padding-top: 50px;
}

.conten-middle{
   display: flex;
   justify-content: center;
   align-items: center;
}

.upper-section{

    width: 40%;

}

.button-style{
    background-image: linear-gradient(to right bottom, #ff8f44, #eb12a0);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.upper-section img{
    width: 65%;
    float: right;
    text-align: center;
    margin-top: 50px;
}

.middle-section{
    background-color: rgb(243, 243, 243);
    height: 100%;
}